input.input {
  border: 1px solid #6b737b;
  border-radius: 3px;
  outline: none;
  padding: 5px 7px;
  transition-property: border, background-color;
  transition-duration: 0.2s;
  font-weight: 600;
  background-color: transparent;

  &:focus {
    border: 1px solid #4dabf7;
    background-color: #e7f5ff;
  }

  &.input-underline {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #6b737b;

    &:focus {
      border-bottom: 1px solid #4dabf7;
      background-color: transparent;
    }
  }
}

label.input-label {
  font-weight: 600;
  text-align: left;
}
