@import '../style/mixins';

.surface-button {
  @include primary;
  @include shadow;
  transition-property: box-shadow, height, width, background-color;
  transition-duration: 0.25s;
  opacity: 0.9;
  background-color: #22b8cf;
  cursor: pointer;
  height: 37.5%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;

  & &-icon * {
    font-size: 27.5px;
  }

  & &-text {
    @include font-lg;
    font-weight: 600;
  }

  &:hover {
    @include primary;
    @include shadow(15.625px);
    height: 42.5%;
    width: 21%;
  }
}
