@import '../style/mixins';

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

.surface-button {
  @include primary;
  @include shadow(0);
  transition-property: box-shadow, height, width, background-color;
  opacity: 0;
  transition-duration: 0.25s;
  cursor: pointer;
  height: 25.5%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 11.4514px;
  animation-name: fadeIn;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;

  @for $i from 1 through 4 {
    &:nth-child(#{$i}) {
      animation-delay: ($i - 1) * 0.2s + 0.3s;
    }
  }

  & &-icon * {
    font-size: 27.5px;
  }

  & &-text {
    //@include font-lg;
    font-weight: 600;
  }

  &:hover {
    @include shadow;
    background-color: #0868b8;
    height: 32.5%;
    width: 17.75%;
  }
}
