@import '../style/mixins';

main#body {
  width: 100%;
  height: calc( 100% - 30px );
  display: grid;
  grid-template-rows: 460px 50px;
  grid-template-columns: 200px 760px;

  .body-part {
    box-sizing: border-box;
  }
}
