@charset "UTF-8";
@import 'style/mixins';

html, body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

div#root {
  width: 100%;
  height: 100%;
  user-select: none;
}

div.error-modal {
  // -webkit-app-region: drag;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h3 {
    @include font-xl;
    font-weight: 600;
    font-family: inherit;
  }

  p {
    text-align: left;
  }

  .unimportant {
    color: #999;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

@mixin region-font($region-font-family) {
  font-family: -apple-system, 'Roboto', 'Segoe UI', $region-font-family, 'Droid Sans', sans-serif;
}

.no-drag {
  -webkit-app-region: no-drag;
  margin-left: 5px;
}


* {
  @include font-sm;
  @include region-font('Microsoft YaHei UI');
}

[lang=zh-TW],
[lang=zh-HK],
[lang=zh-TW] *,
[lang=zh-HK] *,{
  @include region-font('Microsoft JhengHei UI');
}

[lang=ja],
[lang=ja] * {
  @include region-font('Meiryo UI');
}

[lang=ko],
[lang=ko] * {
  @include region-font('Malgun Gothic');
}

.shadow {
  @include shadow;
}
